:root{
  --buttonColor: #2ecc71; 
  --primaryColor: #3f3f3f;
  --secondaryColor:  #202020;
  --tertiaryColor: #ffdf6c;
  --mainBlack: #0c0405;
  --mainWhite:  #f7f9f9;
  --mainSpacing: 2px;
  --transitionAll: all .5s ease-in-out;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Xanh Mono', monospace;
  background-color: #202020;
  color: #000;
}
/* NAVBAR STYLING */
header{
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
}
.logo a{
  color: var(--tertiaryColor);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.menu{
  display: flex;
}
.menu li{
 list-style: none;
 padding-right: 2rem;
}
.logo{
  color: var(--mainBlack);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.menu li a{
  padding: 1rem;
  text-decoration: none;
  color: var(--tertiaryColor);
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: var(--transitionAll);
  
}
.menu li a:hover{
  color: var(--mainWhite);
  border-radius: 50%;
  transition: var(--transitionAll);
  border-bottom: .6px solid var(--mainBlack);
}
/* END NAVBAR STYLING */

  /* LANDING PAGE STYLING */
  .landing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
  }
  .intro h1{
    color: #fff;
    font-weight: 700;
    letter-spacing: var(--mainSpacing);
    font-size: 5rem;
  }
  .intro p{
    color: var(--tertiaryColor);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
  }
  .workSection button,
  .about-section button,
  .details a,
  .intro button{
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--mainBlack);
    background-color: transparent;
    color: var(--mainWhite);
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: var(--mainSpacing);
  }
  .about-section button:hover,
  .workSection button:hover,
  .intro button:hover{
    background-color: var(--mainBlack);
    transition: var(--transitionAll);
  }
  .image-capture img{
    width: 500px;
    height: 500px;
  }
  .hero{
    text-transform: capitalize;
  }
  /* END LANDING PAGE STYLING */

  /* WORK STYLING */
  .workSection{
    text-align: center;
  }
  .work-button{
    margin: 3rem 0;
  }
  .section-title{
    color: var(--tertiaryColor);
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .works{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
  }
  .works .card{
    height: 300px;
    width: 500px;
  }
  .works .card:hover .work-image img{
    opacity: .5;
    transform: translateX(20%);
  }
  .work-image{
    width: 100%;
    height: 100%;
  }
  .work-image img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s;
  }
  .work-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: var(--tertiaryColor);
    transition: var(--transitionAll);
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
  }
  .works .card:hover .work-details{
    transform: perspective(2000px) rotateY(0deg);
  }
  .work-details .details{
    padding: 1.5rem 0;
    background: var(--mainWhite);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .details h4{
    color: var(--mainBlack);
    font-weight: 700;
  }
  .details a{
    color: var(--mainBlack);
    text-decoration: none;
  }
  .details a:hover{
    background: var(--mainBlack);
    color: var(--mainWhite);
    transition: var(--transitionAll);
  }
  /* END WORK STYLING */

  /* CLIENT STYLING */
  .client{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: var(--tertiaryColor);
  }
  /* END CLIENT STYLING */

  /* ABOUT STYLING */
  .about-section{
    color: var(--mainWhite);
    height: 60vh;
    text-align: center;
  }
  .about-section button{
    margin: 3rem 0;
    font-size:
  }
  .about-section h1{
    text-align: center;
    font-weight: bolder;
    padding: 2rem;
  }
  .about{
    display: flex;
    justify-content: space-between;
  }
  .about .potrait{
    width: 50%;
  }
  .about .bio{
    width: 50%;
  }
  /* END ABOUT STYLING */